@model WorkOrderModel

@{
    ViewData["Title"] = "Finish Order";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="FinishOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CustomerName" />
            <input type="hidden" asp-for="PhoneNumber" />
            <input type="hidden" asp-for="CarPlateNumber" />
            <input type="hidden" asp-for="CarModel" />
            <input type="hidden" asp-for="Description" />
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="StartDate" />
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" type="date" />
            </div>
            <input type="hidden" asp-for="Discount" />
            <input type="hidden" asp-for="ReRepair" />
            <input type="hidden" asp-for="MechanicName" />
            <input type="hidden" asp-for="MechanicId" />
            <div class="form-group">
                <input type="submit" value="Finish order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>